<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestComponents.Listners"></listener>
    </listeners>
    <test verbose="2" thread-count="5" preserve-order="true" name="C:/Users/KiranTT/IdeaProjects/UiAutomationPracticeProject/Practice-Framework-4">
        <classes>
            <class name="Tests.End2EndTestCase">
            </class>
        </classes>
    </test>
    <test thread-count="5" name="ErrorValidation">
        <classes>
            <class name="Tests.ErrorValidation"></class>
        </classes>
    </test>
</suite>